.link-light {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  // margin-left: 20px;

  @media (min-width: 400px) {
    font-size: 16px;
    line-height: 24px;
  }

  color: #b5bdc8;
  &:hover {
    color: white;
  }

  transition: color 0.22s;
  transition-duration: 0.22s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: color;
}

.link-light_active {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  // margin-left: 20px;

  @media (min-width: 400px) {
    font-size: 16px;
    line-height: 24px;
  }

  color: white;

  transition: color 0.22s;
  transition-duration: 0.22s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: color;
}

.link-dark {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  // margin-left: 20px;

  @media (min-width: 400px) {
    font-size: 16px;
    line-height: 24px;
  }

  color: #78828c;
  &:hover {
    color: #28323c;
  }

  transition: color 0.22s;
  transition-duration: 0.22s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: color;
}

.link-dark_active {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  // margin-left: 20px;

  @media (min-width: 400px) {
    font-size: 16px;
    line-height: 24px;
  }

  color: #28323c;

  transition: color 0.22s;
  transition-duration: 0.22s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: color;
}
