.page {
  width: 100%;
  padding: 0 12px;

  @media screen and (min-width: 576px) {
    padding: 0 24px;
  }

  @media screen and (min-width: 1160px) {
    padding: 0 28px;
  }

  &__container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 24px;
    line-height: 36px;
    color: #363636;
    text-align: center;
    padding: 24px 0;

    @media screen and (min-width: 576px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__container-search-query {
    width: 100%;
    margin-bottom: 12px;
  }
}
